body{
    margin: 0%;
    background-color: #6B728E;
    overflow-y:unset;
}

.div1{
    height: 500px;
    position: relative;
    background: linear-gradient(198deg, rgb(38, 39, 52) 0%, rgba(107,114,142,1) 100%);
}

.pozasist{
    transform: scaleX(-1);
    position: relative;
    top: 40%;
    float: right;
    

}

.toptxt{
    position: absolute;
    margin: 130px;
    font-size: 60px;
    color: #15161e;
}

.tptxt{
    position: absolute;
    margin: 160px;
    top: 60px;
}

p, a{
    color: #15161e;
    font-family: poppins, sans-serif;

}

.navbar{
    z-index: 1;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center ;
    align-items: center;
    height: 90px;
    background-color:#404258;
}

a{
    text-decoration: none;
    color: #F4EEE0;
    margin-left: 30px;
    font-size: 1.5rem;
}

.div2{
    background-image: url(planetaa.png);
    background-size:cover;
    min-height: 600px;
    display: flex; 
    justify-content: flex-end;
    
}

.plantxt{
    color: #F4EEE0;
    position: relative;
    margin-top: 100px;
    margin-right: 10%;
    font-size: 30px;
}

.divngr{
    display: flex;
    height: 50px;
    background-color: #404258;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.div3{
    text-indent: 50px;
    font-size: 25px;
    padding-left: 2%;
    padding-right: 10%;
    align-items: center;
    display: flex;
    gap: 15%;
    background: linear-gradient(140deg, #6B728E 0%, #9BA4B5 100%);
    height: auto;
}

.sunimg{
    height: 550px;
}

.descdiv{
    position: relative;
    max-height: inherit;
    min-width: 650px;
}