html, body{
    overflow-y: hidden;
    margin: 0px;
    z-index: -2;
}

body {
    background-repeat: no-repeat;
    
    background-size: cover;
    height:100vh;
  }

.div1{
    
    height: auto;
    width: 100%;
    display: flex;
    align-content: stretch;
}

.div2{
    width: 50%;
}

.div3{
    text-align: right;
    width: 50%;
}

p{
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
}

.miname{
    padding-top:1rem ;
    padding-left: 3rem;
    font-size: 3rem;
}

ul, li{
    list-style: none;
    display: inline;
    padding-left: 2rem;
}

nav{
    padding-top: 1rem;
    padding-right:3rem;
    
}

a{
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 2rem;
}

.svg1{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: auto;
}


@media only screen and (orientation:portrait) {
    .svg1{
        position: absolute;
        z-index: -1;
        width:  auto;
        height: 100%;
        
    }
}



.w0{animation:anim0 25s infinite forwards;}

@keyframes anim0 {
    0%{d:path("M0 339L22.8 329.5C45.7 320 91.3 301 137 304.8C182.7 308.7 228.3 335.3 274 342.5C319.7 349.7 365.3 337.3 411.2 343.2C457 349 503 373 548.8 378.3C594.7 383.7 640.3 370.3 686 361.8C731.7 353.3 777.3 349.7 823 331.5C868.7 313.3 914.3 280.7 937.2 264.3L960 248L960 0L937.2 0C914.3 0 868.7 0 823 0C777.3 0 731.7 0 686 0C640.3 0 594.7 0 548.8 0C503 0 457 0 411.2 0C365.3 0 319.7 0 274 0C228.3 0 182.7 0 137 0C91.3 0 45.7 0 22.8 0L0 0Z");}
    50%{d:path("M0 223L22.8 222.7C45.7 222.3 91.3 221.7 137 213.5C182.7 205.3 228.3 189.7 274 197.5C319.7 205.3 365.3 236.7 411.2 260.2C457 283.7 503 299.3 548.8 292.8C594.7 286.3 640.3 257.7 686 248.3C731.7 239 777.3 249 823 259.8C868.7 270.7 914.3 282.3 937.2 288.2L960 294L960 0L937.2 0C914.3 0 868.7 0 823 0C777.3 0 731.7 0 686 0C640.3 0 594.7 0 548.8 0C503 0 457 0 411.2 0C365.3 0 319.7 0 274 0C228.3 0 182.7 0 137 0C91.3 0 45.7 0 22.8 0L0 0Z");}
    100%{d:path("M0 339L22.8 329.5C45.7 320 91.3 301 137 304.8C182.7 308.7 228.3 335.3 274 342.5C319.7 349.7 365.3 337.3 411.2 343.2C457 349 503 373 548.8 378.3C594.7 383.7 640.3 370.3 686 361.8C731.7 353.3 777.3 349.7 823 331.5C868.7 313.3 914.3 280.7 937.2 264.3L960 248L960 0L937.2 0C914.3 0 868.7 0 823 0C777.3 0 731.7 0 686 0C640.3 0 594.7 0 548.8 0C503 0 457 0 411.2 0C365.3 0 319.7 0 274 0C228.3 0 182.7 0 137 0C91.3 0 45.7 0 22.8 0L0 0Z");}
}

.w1{animation:anim1 25s infinite forwards;}

@keyframes anim1 {
    0%{d:path("M0 223L22.8 222.7C45.7 222.3 91.3 221.7 137 213.5C182.7 205.3 228.3 189.7 274 197.5C319.7 205.3 365.3 236.7 411.2 260.2C457 283.7 503 299.3 548.8 292.8C594.7 286.3 640.3 257.7 686 248.3C731.7 239 777.3 249 823 259.8C868.7 270.7 914.3 282.3 937.2 288.2L960 294L960 0L937.2 0C914.3 0 868.7 0 823 0C777.3 0 731.7 0 686 0C640.3 0 594.7 0 548.8 0C503 0 457 0 411.2 0C365.3 0 319.7 0 274 0C228.3 0 182.7 0 137 0C91.3 0 45.7 0 22.8 0L0 0Z");}
    50%{d:path("M0 136L22.8 146.2C45.7 156.3 91.3 176.7 137 181.3C182.7 186 228.3 175 274 165.2C319.7 155.3 365.3 146.7 411.2 145.8C457 145 503 152 548.8 154.7C594.7 157.3 640.3 155.7 686 151.8C731.7 148 777.3 142 823 138.7C868.7 135.3 914.3 134.7 937.2 134.3L960 134L960 0L937.2 0C914.3 0 868.7 0 823 0C777.3 0 731.7 0 686 0C640.3 0 594.7 0 548.8 0C503 0 457 0 411.2 0C365.3 0 319.7 0 274 0C228.3 0 182.7 0 137 0C91.3 0 45.7 0 22.8 0L0 0Z");}
    100%{d:path("M0 223L22.8 222.7C45.7 222.3 91.3 221.7 137 213.5C182.7 205.3 228.3 189.7 274 197.5C319.7 205.3 365.3 236.7 411.2 260.2C457 283.7 503 299.3 548.8 292.8C594.7 286.3 640.3 257.7 686 248.3C731.7 239 777.3 249 823 259.8C868.7 270.7 914.3 282.3 937.2 288.2L960 294L960 0L937.2 0C914.3 0 868.7 0 823 0C777.3 0 731.7 0 686 0C640.3 0 594.7 0 548.8 0C503 0 457 0 411.2 0C365.3 0 319.7 0 274 0C228.3 0 182.7 0 137 0C91.3 0 45.7 0 22.8 0L0 0Z");}
}

.w2{animation:anim2 25s infinite forwards;}

@keyframes anim2 {
    0%{d:path("M0 136L22.8 146.2C45.7 156.3 91.3 176.7 137 181.3C182.7 186 228.3 175 274 165.2C319.7 155.3 365.3 146.7 411.2 145.8C457 145 503 152 548.8 154.7C594.7 157.3 640.3 155.7 686 151.8C731.7 148 777.3 142 823 138.7C868.7 135.3 914.3 134.7 937.2 134.3L960 134L960 0L937.2 0C914.3 0 868.7 0 823 0C777.3 0 731.7 0 686 0C640.3 0 594.7 0 548.8 0C503 0 457 0 411.2 0C365.3 0 319.7 0 274 0C228.3 0 182.7 0 137 0C91.3 0 45.7 0 22.8 0L0 0Z");}
    50%{d:path("M0 106L22.8 98.3C45.7 90.7 91.3 75.3 137 79.5C182.7 83.7 228.3 107.3 274 105.7C319.7 104 365.3 77 411.2 67.2C457 57.3 503 64.7 548.8 74.5C594.7 84.3 640.3 96.7 686 100.8C731.7 105 777.3 101 823 99.8C868.7 98.7 914.3 100.3 937.2 101.2L960 102L960 0L937.2 0C914.3 0 868.7 0 823 0C777.3 0 731.7 0 686 0C640.3 0 594.7 0 548.8 0C503 0 457 0 411.2 0C365.3 0 319.7 0 274 0C228.3 0 182.7 0 137 0C91.3 0 45.7 0 22.8 0L0 0Z");}
    100%{d:path("M0 136L22.8 146.2C45.7 156.3 91.3 176.7 137 181.3C182.7 186 228.3 175 274 165.2C319.7 155.3 365.3 146.7 411.2 145.8C457 145 503 152 548.8 154.7C594.7 157.3 640.3 155.7 686 151.8C731.7 148 777.3 142 823 138.7C868.7 135.3 914.3 134.7 937.2 134.3L960 134L960 0L937.2 0C914.3 0 868.7 0 823 0C777.3 0 731.7 0 686 0C640.3 0 594.7 0 548.8 0C503 0 457 0 411.2 0C365.3 0 319.7 0 274 0C228.3 0 182.7 0 137 0C91.3 0 45.7 0 22.8 0L0 0Z");}
}

.w3{animation:anim3 25s infinite forwards;}

@keyframes anim3 {
    0%{d:path("M0 106L22.8 98.3C45.7 90.7 91.3 75.3 137 79.5C182.7 83.7 228.3 107.3 274 105.7C319.7 104 365.3 77 411.2 67.2C457 57.3 503 64.7 548.8 74.5C594.7 84.3 640.3 96.7 686 100.8C731.7 105 777.3 101 823 99.8C868.7 98.7 914.3 100.3 937.2 101.2L960 102L960 0L937.2 0C914.3 0 868.7 0 823 0C777.3 0 731.7 0 686 0C640.3 0 594.7 0 548.8 0C503 0 457 0 411.2 0C365.3 0 319.7 0 274 0C228.3 0 182.7 0 137 0C91.3 0 45.7 0 22.8 0L0 0Z");}
    50%{d:path("M0 27L22.8 31.7C45.7 36.3 91.3 45.7 137 46.8C182.7 48 228.3 41 274 40.5C319.7 40 365.3 46 411.2 47C457 48 503 44 548.8 44C594.7 44 640.3 48 686 51C731.7 54 777.3 56 823 56.3C868.7 56.7 914.3 55.3 937.2 54.7L960 54L960 0L937.2 0C914.3 0 868.7 0 823 0C777.3 0 731.7 0 686 0C640.3 0 594.7 0 548.8 0C503 0 457 0 411.2 0C365.3 0 319.7 0 274 0C228.3 0 182.7 0 137 0C91.3 0 45.7 0 22.8 0L0 0Z");}
    100%{d:path("M0 106L22.8 98.3C45.7 90.7 91.3 75.3 137 79.5C182.7 83.7 228.3 107.3 274 105.7C319.7 104 365.3 77 411.2 67.2C457 57.3 503 64.7 548.8 74.5C594.7 84.3 640.3 96.7 686 100.8C731.7 105 777.3 101 823 99.8C868.7 98.7 914.3 100.3 937.2 101.2L960 102L960 0L937.2 0C914.3 0 868.7 0 823 0C777.3 0 731.7 0 686 0C640.3 0 594.7 0 548.8 0C503 0 457 0 411.2 0C365.3 0 319.7 0 274 0C228.3 0 182.7 0 137 0C91.3 0 45.7 0 22.8 0L0 0Z");}
}

.w4{animation:anim4 25s infinite forwards;}

@keyframes anim4 {
    0%{d:path("M0 168L21.5 172.3C43 176.7 86 185.3 128.8 173.8C171.7 162.3 214.3 130.7 257.2 127C300 123.3 343 147.7 385.8 152.7C428.7 157.7 471.3 143.3 514.2 130.8C557 118.3 600 107.7 642.8 105C685.7 102.3 728.3 107.7 771.2 124.3C814 141 857 169 878.5 183L900 197L900 0L878.5 0C857 0 814 0 771.2 0C728.3 0 685.7 0 642.8 0C600 0 557 0 514.2 0C471.3 0 428.7 0 385.8 0C343 0 300 0 257.2 0C214.3 0 171.7 0 128.8 0C86 0 43 0 21.5 0L0 0Z");}
    50%{d:path("M0 62L21.5 71.2C43 80.3 86 98.7 128.8 101.7C171.7 104.7 214.3 92.3 257.2 84C300 75.7 343 71.3 385.8 76.7C428.7 82 471.3 97 514.2 101.3C557 105.7 600 99.3 642.8 94.8C685.7 90.3 728.3 87.7 771.2 89.2C814 90.7 857 96.3 878.5 99.2L900 102L900 0L878.5 0C857 0 814 0 771.2 0C728.3 0 685.7 0 642.8 0C600 0 557 0 514.2 0C471.3 0 428.7 0 385.8 0C343 0 300 0 257.2 0C214.3 0 171.7 0 128.8 0C86 0 43 0 21.5 0L0 0Z");}
    100%{d:path("M0 168L21.5 172.3C43 176.7 86 185.3 128.8 173.8C171.7 162.3 214.3 130.7 257.2 127C300 123.3 343 147.7 385.8 152.7C428.7 157.7 471.3 143.3 514.2 130.8C557 118.3 600 107.7 642.8 105C685.7 102.3 728.3 107.7 771.2 124.3C814 141 857 169 878.5 183L900 197L900 0L878.5 0C857 0 814 0 771.2 0C728.3 0 685.7 0 642.8 0C600 0 557 0 514.2 0C471.3 0 428.7 0 385.8 0C343 0 300 0 257.2 0C214.3 0 171.7 0 128.8 0C86 0 43 0 21.5 0L0 0Z");}
}

.div4{
    border-radius: 51% 49% 45% 55% / 66% 77% 23% 34% ;
    /* border: 0.6vw solid #8462ff; */
    background-size: cover; 
    overflow: hidden;
    margin-left: 5vw;
    display: flex;
    height: 15vw;
    width: 15vw;
}

.div6{
    border-radius: 89% 11% 75% 25% / 51% 72% 28% 49% ;
    padding-right: 1rem;
    border: 3px solid #674dc7;
    align-items: center;
    position: absolute;
    display: flex;
    bottom: 5vh;
    gap: 3vw;
}

.div5{
    text-align: center;
}

.div5txt{
    font-size: 2.4vh;
}

.div7{
    

    align-self: flex-end;
    position: absolute;
}